.asso {
    background-color: var(--dark-pink);
    padding:0.3em;
    padding-left: 2em;
    padding-right: 2em;
    border-radius: 5em;
}


.associations {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-self: flex-start;
  grid-gap: 4em;
  padding:2em;
}

form {
  position: relative;
  padding : 2em;
  text-align: center;
  border-radius: 3em;
}

.recherche {
    background-color: var(--light-green);
    border-radius: 2em;
}

