.page{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    min-width: 50%;
    align-self: center;
    margin-top: 10%;
}

.Text{
    color: black;
    size-adjust: 5%;
    text-align: center;
}

#Email {
    border-color: black;
    text-align: center;
    max-width: 30%;
    align-self: center;
}

.mdp{
    color: black;
    border-color: black;
    text-align: center;
    max-width: 30%;
    align-self: center;
}



#submit{
    background-color: #efa7a7ff;
    border: 5%;
    border-color: black;
    max-width: 30%;
    align-self: center;
}

.message {
    text-align:center;
}