.page{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    min-width: 50%;
    align-self: center;
    margin-top: 10%;
}

.form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.Text{
    color: black;
    text-align: center;
    padding: 5px;
}

#Email {
    border-color: black;
    text-align: center;
    max-width: 30%;
    display: block;
    margin-left: auto;
    margin-top: auto;
    margin-right: auto;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.mdp{
    color: black;
    border-color: black;
    text-align: center;
    max-width: 30%;
    display: block;
    margin-left: auto;
    margin-top: auto;
    margin-right: auto;
    padding: 5px;
    border-radius: 10px;
}



.bouton{
    color: var(--cyan);
    background-color: var(--dark-green);
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0 1px 8px 0 rgba(0,0,0,.2),0 3px 4px 0 rgba(0,0,0,.14),0 3px 3px -2px rgba(0,0,0,.12);
    display: block;
    margin-left: auto;
    margin-top: auto;
    margin-right: auto;
}

.message {
    text-align:center;
    color: red;
}