.text{
    color: var(--dark-green);
}

body {
    margin: 0;
    background-color: var(--cyan);
}

.connexion{
    background-color: var(--cyan);
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0 1px 8px 0 rgba(0,0,0,.2),0 3px 4px 0 rgba(0,0,0,.14),0 3px 3px -2px rgba(0,0,0,.12);
}

.divcolumn{
    display: flex;
    flex-direction: column;
}

.divrow{
    display: flex;
    flex-direction: row;
}

.icon {
    width: 50px;
    fill: var(--dark-green);
}

.inscription{
    color: var(--cyan);
    background-color: var(--dark-green);
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0 1px 8px 0 rgba(0,0,0,.2),0 3px 4px 0 rgba(0,0,0,.14),0 3px 3px -2px rgba(0,0,0,.12);
}

.logo {
    width:200px;
}

nav { 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    background-color: var(--light-pink);
    height: 5%;
    box-shadow: 0 1px 8px 0 rgba(0,0,0,.2),0 3px 4px 0 rgba(0,0,0,.14),0 3px 3px -2px rgba(0,0,0,.12);
}

.wrap{
    display: flex;
    flex-wrap: wrap;
}