.UserName{
    color: var(--dark-green);
}

.logo {
    width:200px;
}

.icon {
    width: 50px;
    fill: var(--dark-green);
}

body {
    margin: 0;
    background-color: var(--cyan);
}

nav { 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    background-color: var(--light-pink);
    height: 5%;
}
