.bg{
    background-color: var(--cyan);
}

.centerDiv{
    display:flex;
    flex-wrap: wrap;
}

.mainDiv{
    background-color: var(--light-pink);
    margin: 0%;
    padding-bottom: 0%;
}

.UserName{
    color: var(--dark-green);
}

.picture{
    width: 10%;
}