.page {
    display: block;
    column-count: 3;
    margin-left: 10%;
    width: 100%;
    margin-top: 10%;
    background-color: white;
}

.Identité {
    display: block;
    width: fit-content;
    margin-bottom: 300px;
    background-color: white;
    }

.Contact {
    display: block;
    width: fit-content;
    margin-bottom: 300px;
    background-color: white;
}

.Autres {
    display: block;
    width: fit-content;
    margin-bottom: 30px;
    background-color: white;
}

.Text {
    color: black;
    size: 10%;
    margin-bottom: 5px;
}

.input{
    border-color: black;
    text-align: center;
    display: block;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: var(--light-green);
}

.erreur {
    color: red
}