@media screen and (min-width: 675px) {
    .page {
        column-count: 3;
        margin-left: 5%;
        margin-top: 5%;
        margin-right: 5%;
        margin-bottom: 5%;
        background-color: var(--light-green);
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 5%;
        padding-bottom: 5%;
        border-radius: 10px;
    }

    .Identité {
        display: block;
        width: fit-content;
        margin-bottom: 300px;
        }

    .Contact {
        display: block;
        width: fit-content;
        margin-bottom: 300px;
    }

    .Autres {
        display: block;
        width: fit-content;
        margin-bottom: 30px;
    }

    .Text {
        color: black;
        size: 10%;
        margin-bottom: 5px;
    }

    .input{
        border-color: black;
        text-align: center;
        display: block;
        padding: 5px;
        margin-bottom: 10px;
        border-radius: 10px;
        background-color: white;
    }

    .mess {
        text-align: center;
    }

    .erreur {
        color: red
    }

}

@media screen and (max-width: 675px) and (min-width: 450px) {
    .page {
        column-count: 2;
        margin-left: 5%;
        margin-top: 5%;
        margin-right: 5%;
        margin-bottom: 5%;
        background-color: var(--light-green);
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 5%;
        padding-bottom: 5%;
        border-radius: 10px;
    }

    .Identité {
        display: block;
        width: fit-content;
        }

    .Contact {
        display: block;
        width: fit-content;
    }

    .Autres {
        display: block;
        width: fit-content;
    }

    .Text {
        color: black;
        size: 10%;
        margin-bottom: 5px;
    }

    .input{
        border-color: black;
        text-align: center;
        display: block;
        padding: 5px;
        margin-bottom: 10px;
        border-radius: 10px;
        background-color: white;
    }

    .erreur {
        color: red
    }

}

@media screen and (max-width: 450px) {
    .page {
        column-count: 1;
        margin-left: 5%;
        margin-top: 5%;
        margin-right: 5%;
        margin-bottom: 5%;
        background-color: var(--light-green);
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 5%;
        padding-bottom: 5%;
        border-radius: 10px;
    }

    .Identité {
        display: block;
        width: fit-content;
        }

    .Contact {
        display: block;
        width: fit-content;
    }

    .Autres {
        display: block;
        width: fit-content;
    }

    .Text {
        color: black;
        size: 10%;
        margin-bottom: 5px;
    }

    .input{
        border-color: black;
        text-align: center;
        display: block;
        padding: 5px;
        margin-bottom: 10px;
        border-radius: 10px;
        background-color: white;
    }

    .erreur {
        color: red
    }

}
    