.informations_utilisateur {
    margin: 5em;
    margin-left:15em;
    margin-right:15em;
    padding:2em;
    background-color: white;
    border-width: 3px;
    border-style: solid;
    border-color :var(--dark-pink);
    font-size:1.5em;
    display:flex;
    flex-direction:wrap;
}

.nom {
    color:var(--dark-pink);
}

.mention {
    color:grey;
    padding-top: 5em;
}

.photo_profil {
    position: left;
    width: 180px;
    height: 180px;
    left: calc(50% - 180px/2 + 260px);
    border-radius: 10px;
}

.infos {
    margin-left: 1em;
}