.form{
    background-color: var(--light-green);
    margin:25px;
    box-shadow: 0 1px 8px 0 rgba(0,0,0,.2),0 3px 4px 0 rgba(0,0,0,.14),0 3px 3px -2px rgba(0,0,0,.12);
}

.flex{
    display: flex;
}

.space{
    display: flex;
    justify-content: space-around;
}

.divprop{
    flex-wrap: wrap;
    padding:5px;
}

.maindiv{
    display: flex;
    flex-wrap: wrap;
    margin: 25px;
    align-items: centre;
}

.divrow{
    flex-direction: row;
}

.divcolumn{
    flex-direction: column;
}

.textprop{
    font-size: 40px;
}

.inputcolor{
    border-color: black;
    border-radius:10px;
}