.page {
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    column-count: 2;
    margin-left: 10%;
    width: 100%;
    margin-top: 5%;
}

.block {
    width: 500px;
    margin: 20px;
}

.form {
    order:1;
    display:block;
    text-align: left;
}

.carte {
    order:2;
    display: block;
    flex-wrap: wrap;
    text-align: left;
}

.img {
    width:500px;
}