.page {
    column-count: 2;
    margin-left: 5%;
    margin-top: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    background-color: var(--light-green);
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    border-radius: 10px;
}

.block {
    width: 500px;
    margin: 20px;
}

.form {
    order:1;
    display:block;
    text-align: left;
}

.carte {
    order:2;
    display: block;
    flex-wrap: wrap;
    text-align: left;
}

.img {
    width:500px;
}

.textprop{
    font-size: 10px;
}