{% extends navbar+".html" %}
{% block body %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assos.css')}}">

<form action="/associations" method="get" >
    <input autocomplete="off" autofocus name="q" placeholder="Rechercher par ville" type="search">
    <input class="recherche" type="submit" value="Rechercher">
</form>

<div class="associations">
        {%if assos==[]%}
            <p class="message">Aucun résultat</p>
        {%endif%}
        {%for asso in assos%}
            <div class="asso">
                <p>{{asso.nom}}</p>
                <p>{{asso.codepostal}} {{asso.ville}} </p>
            </div>
        {%endfor%}
</div>
{% endblock %}
