{% extends "connectedLayout.html" %}
{% block body %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='connexion.css') }}">

    <div class="page">
        <form class="form" action="/connexion" method="POST" enctype=multipart/form-data> 
            <div class="Text">Email</div>
            <input id="Email" name="mail" type="text" placeholder="ex : xyz@optifruit.fr" value={{mail}}>
            <div class="Text">Mot de passe</div>
            <input class="mdp" type="password" name="password" placeholder="ex : TinderTartePommes2022" value={{password}}>
            <p class="message">{{message}}</p>
            <input class="bouton" type="submit" value="VALIDER">
        </form>
    </div>

{% endblock %}
