{% extends "connectedLayout.html" %}
{% block body %}
    <link rel="stylesheet" href="{{ url_for('static', filename='connexion.css') }}">
{% extends "connectedLayout.html" %}
{% block body %}
    <link rel="stylesheet" href="{{ url_for('static', filename='connexion.css') }}">

    <div class="page">
        <div class="Text">Email</div>
        <input id="Email" name="Email" type="text" placeholder="ex : xyz@optifruit.fr">
        <div class="Text">Mot de passe</div>
        <input class="mdp" type="password" name="Mot de passe" placeholder="ex : TinderTartePommes2022">
        <input id="submit" type="submit" value="Valider">
    </div>
{% endblock %}
