{%extends navbar+".html"%}

{%block body%}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home.css')}}">
    <div class="message">{{message}}</div>
    <div class="divrow space fluxdiv">
        <div class="fluxdiv space divcolumn space">
            {%if propositions==[]%}
                <div class="text textprop">
                    Pas de proposition actuellement disponible :/
                </div>
            {%else%}
                {%for proposition in propositions%}
                    <a class="proposition" href="/proposition/{{proposition.noprop}}">
                        <div class="propose divrow space">
                            <div class="divcolumn">
                                {%if not proposition.profilphoto%}
                                    <img class="propimg" src="{{ url_for('static', filename='images/Default.png')}}">
                                {%else%}
                                    <img class="propimg" src="{{ url_for('static', filename='downloadPictures/'+proposition["profilphoto"])}}">
                                {%endif%}
                                <p class="text space pseudo">{{proposition.pseudo}}</p>
                            </div>
                            <p class="text textprop">{{proposition.description}}</p>
                            <img class="img" src="{{ url_for('static', filename='downloadPictures/'+proposition["propositionphoto"])}}">
                        </div>
                    </a>
                {%endfor%}
            {%endif%}
        </div>
        <div class="divcolumn space">
            <a class="text" href="/recherche">
                <img class="map" src="{{ url_for('static', filename='images/carte_region_scrop.jpg')}}">
            </a>
            <a class="jepropose text" href="/propose">Je propose</a>
        </div>
    </div>
{%endblock%}