<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="page">
        <div class="Rubriques">
            <div class="Identité">
                Nom :
                <input name="Nom" placeholder="ex : Desmoulins">
                Prénom :
                <input name="Prénom" placeholder="ex : Mireille">
                Pseudo :
                <input name="Pseudo" placeholder="ex : Reine de la tarte aux pommes">
            </div>
            <div class="Contact">
                Téléphone :
                <input name="Téléphone" placeholder="ex : 06 00 00 00 00">
                Adresse mail :
                <input name="Adresse mail" placeholder="ex : m.desmoulins@gmail.com">
            </div>
            <div class="Autres">
                Mot de passe :
                <input name="Mot de passe" placeholder="ex : opti_mireille12 ">
                Confirmation du mot de passe :
                <input name="Confirmation du mot de passe" placeholder="ex : opti_mireille12">
                Mentions :
                <input name="Mentions" placeholder="ex : horaires de disponibilité, passions...">
            </div>
        </div>
        <input type="submit" value="Valider">
    </div>
</body>
</html>