{%extends "unconnectedLayout.html"%}

{%block body%}
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href={{url_for('static', filename="inscription.css")}}> 
    <form action="/inscription" method="POST" enctype=multipart/form-data>
    <div class="page">
            <div class="Identité">
                <div class="Text">Nom :</div>
                <input name="nom" placeholder="ex : Desmoulins" value={{nom}}>
                <div class="Text">Prénom :</div>
                <input name="prenom" placeholder="ex : Mireille" value={{prenom}}>
                <div class="Text">Pseudo :</div>
                <input name="pseudo" placeholder="ex : Reine de la tarte aux pommes" value={{pseudo}}>
            </div>
            <div class="Contact">
                <div class="Text">Téléphone :</div>
                <input name="tel" placeholder="ex : 06 00 00 00 00" value={{tel}}>
                <div class="Text">Adresse mail :</div>
                <input name="mail" placeholder="ex : m.desmoulins@gmail.com" value={{mail}}>        
            </div>
            <div class="Autres">
                <div class="Text">Mot de passe :</div>
                <input name="password" type="password" placeholder="ex : opti_mireille12 " value={{password}}>
                <div class="Text">Confirmation du mot de passe :</div>
                <input name="confirm_password" type="password" placeholder="ex : opti_mireille12" value={{confirm_password}}>
                <div class="Text">Mentions :</div>
                <input name="mention" placeholder="ex : horaires de disponibilité, passions..." value={{mention}}>
            </div> 
            <div class="erreur">{{message}}</div>
            <input class="inscription" type="submit" value="VALIDER">             
    </div>
    </form>
{%endblock%}
