{%extends navbar+".html"%}

{%block body%}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='messagerie.css')}}">
    <div class="divcolumn maindiv center">
        <div class="divrow">
            <div>
                <div class="divcolumn divusers">
                    {%for recipient in recipients%}
                        {%if recipient['pseudo']!=profil[0]['pseudo']%}
                            {%if recipient['pseudo']==pseudo%}
                                <a href="/messagerie/{{recipient['pseudo']}}" class="text pseudo lien user userrecipient">
                            {%else%}
                                <a href="/messagerie/{{recipient['pseudo']}}" class="text pseudo lien user">
                            {%endif%}    
                                    {%if not recipient["profilphoto"]%}
                                    <img class="profilimg" src="{{ url_for('static', filename='images/Default.png')}}">
                                {%else%}
                                    <img class="profilimg" src="{{ url_for('static', filename='downloadPictures/'+recipient["profilphoto"])}}">
                                {%endif%}
                                {{recipient['pseudo']}}
                            </a>
                        {%endif%}
                    {%endfor%}
                </div>
            </div>
            <div class="divcolumn space fluxmessage">
                {%if messages==[]%}
                <div class="text textprop space">Vous n'avez pas encore discuté avec cet utilisateur</div>
                {%endif%}
                {%for message in messages%}
                    {%if message['pseudo_sender']==profil[0]['pseudo']%}
                        <div class="divcolumn message sender">
                            <div class="divrow">
                                <div class="text">
                                    {{message['pseudo_sender']}}
                                </div>
                                {%if not profil[0]["profilphoto"]%}
                                    <img class="messageimg" src="{{ url_for('static', filename='images/Default.png')}}">
                                {%else%}
                                    <img class="messageimg" src="{{ url_for('static', filename='downloadPictures/'+profil[0]["profilphoto"])}}">
                                {%endif%}
                            </div>
                            <div class="text pseudo textsender messagetext">
                                {{message['message']}}
                            </div>
                        </div>
                    {%else%}
                        <div class="divcolumn message recipient">
                            <div class="divrow">
                                {%if not picture%}
                                    <img class="messageimg" src="{{ url_for('static', filename='images/Default.png')}}">
                                {%else%}
                                    <img class="messageimg" src="{{ url_for('static', filename='downloadPictures/'+picture)}}">
                                {%endif%}
                                <div class="text">
                                    {{message['pseudo_sender']}}
                                </div>
                            </div>
                            <div class="text pseudo textrecipient messagetext">
                                {{message['message']}}
                            </div>
                        </div>
                    {%endif%}
                {%endfor%}
                <div class="divcolumn center">
                    <form action="/messagerie/{{pseudo}}" method="post" enctype=multipart/form-data>
                        <input class="input" name="message" placeholder="Entrez votre message">
                        <input class="buttongreen" type="submit" value="Envoyer">
                    </form>
                </div>
            </div>
        </div>
    </div>
{%endblock%}