{% extends "connectedLayout.html" %}
{% block body %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='profil.css')}}">

{%for user in utilisateur%}
    <div class="informations_utilisateur">
        <p class="nom">{{user.prenom}} {{user.nom}}</p>
        <p class="pseudo">{{user.pseudo}}</p>
        <p class="mention">{{user.mention}}</p>
        <img class="photo_perso" src="{{ url_for('static', filename='profilPicture/'+user["profilphoto"])}}"">
    </div>


<a href="/logout">Se déconnecter</a>

<div class="propositions">
    {%for proposition in propositions%}
        <div class="proposition">
            <img class="photo_perso" src="{{ url_for('static', filename='profilPicture/'+user["profilphoto"])}}"">
            <p class="pseudo">{{proposition.pseudo}}</p>
            <p class="description">{{proposition.description}}</p>
            <img class="photo_prop" src="{{ url_for('static', filename='proposePictures/'+proposition["propositionphoto"])}}">
        </div>
    {%endfor%}
{%endfor%}
</div>



{%endblock%}