{%extends navbar+".html"%}
{% block body %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='profil.css')}}">

{%for user in utilisateur%}
    <div class="informations_utilisateur">
        <p class="nom">{{user.prenom}} {{user.nom}}</p>
        <p class="pseudo">{{user.pseudo}}</p>
        <p class="mention">{{user.mention}}</p>
    </div>
{%endfor%}

<a href="/logout">Se déconnecter</a>

<div class="propositions">
    {%for proposition in propositions%}
        <div class="proposition">
            <img class="photo_perso" src='/static'+{{utilisateur.photo}}>
            <p class="pseudo">{{proposition.pseudo}}</p>
            <p class="description">{{proposition.description}}</p>
            <img class="photo_prop" src='/static'+{{proposition.photo}}>
        </div>
    {%endfor%}
</div>



{%endblock%}