{%extends "connectedLayout.html"%}

{%block body%}
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='propose.css')}}">

    <div class="divcolumn maindiv">
        <div class="divprop space text textprop">Je propose</div>
        <div class="divprop form divcolumn">
            <div class="divprop divrow space">
                <div class="divprop divcolumn">
                    <div class="divprop divcolumn">
                        <div class="divprop">Fruits / Légumes proposé :</div>
                        <input class="inputcolor" name="frume" placeholder="ex : pommes">
                    </div>
                    <div class="divprop divcolumn">
                        <div class="divprop">Quantité du produit :</div>
                        <input class="inputcolor" name="quantite" placeholder="ex : 15 kg">
                    </div>
                    <div class="divprop divrow flex">
                        <div class="divprop divcolumn">
                            <div class="divprop">Code postal :</div>
                            <input class="inputcolor" name="codePostal" placeholder="ex : 54000">
                        </div>
                        <div class="divprop divcolumn">
                            <div class="divprop">Ville :</div>
                            <input class="inputcolor" name="ville" placeholder="ex : Nancy">
                        </div>
                    </div>
                    <div class="divprop divcolumn">
                        <div class="divprop">Description :</div>
                        <textarea class="inputcolor" id="description" name="description" rows="20" cols="50" placeholder="informations, remarques, ..."></textarea>
                    </div>
                </div>
                <div class="divprop divcolumn">
                    <div class="divprop divcolumn">
                        <div class="divprop">Date de la cueillette :</div>
                        <input class="inputcolor" name="dateCueillette" placeholder="ex : 12/06/2022">
                    </div>
                    <div class="divprop divcolumn">
                        <div class="divprop">Date d'expiration de la demande :</div>
                        <input class="inputcolor" name="dateFin" placeholder="ex : 14/06/2022">
                    </div>
                    <div class="divprop divrow flex">
                        <input type="checkbox" name="ceuillette">
                        <div class="divprop">Si les produits ne sont pas cueillis, 
                            je propose aux personnes de venir les cueillir</div>
                    </div>
                    <div class="divprop divcolumn">
                        <div class="divprop">Photo :</div>
                        <input type="file" name="photo">                 
                    </div>
                </div>
            </div>
            <div class="divprop divrow space">
                <input class="inscription" type="submit" value="VALIDER">
            </div>
        </div>
    </div>

{%endblock%}