{% extends navbar+".html" %}
{% block body %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='profil.css')}}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home.css')}}">

    <h1>Résultats</h1>
    <div class="propositions">
        {%for proposition in propositions%}
                    <a class="proposition" href="/proposition/{{proposition.noprop}}">
                        <div class="propose divrow space">
                            <div class="divcolumn">
                                {%if not proposition.profilphoto%}
                                    <img class="propimg" src="{{ url_for('static', filename='images/Default.png')}}">
                                {%else%}
                                    <img class="propimg" src="{{ url_for('static', filename='downloadPictures/'+proposition["profilphoto"])}}">
                                {%endif%}
                                <p class="text space pseudo">{{proposition.pseudo}}</p>
                            </div>
                            <p class="text textprop">{{proposition.description}}</p>
                            <img class="img" src="{{ url_for('static', filename='downloadPictures/'+proposition["propositionphoto"])}}">
                        </div>
                    </a>
        {%endfor%}
    </div>
    
{%endblock%}