{% extends navbar+".html" %}
{% block body %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='recherche.css')}}">

    <h1>Recherche</h1>

    <div class="page">
        <div>Veuillez renseignez votre code postal ou votre département</div>
        <div class="form block">
            <form action="/recherche" method="post">
                <input autocomplete="off" autofocus name="Code Postal" placeholder="Code Postal" type="text">
                <input type="submit" value="Valider">
            </form>

            <form action="/recherche" method="post">
                <select name="Départements">
                    <option disabled selected value="">Département</option>
                    {% for departement in departements %}
                        <option value="{{ departements[departement] }}">{{ departements[departement] }}</option>
                    {% endfor %}
                <input type="submit" value="Valider">
            </form>
            <div class="error message">
                <p class='message'>{{message}}</p>
            </div>
        </div>
        
        <div class="carte block">
            <span>Vous pouvez également choisir une région</span>
            <img src="/static/images/carte_region_scrop2.png" alt="carte des régions" usemap="#c">
            <map name="c">
                <area target="" alt="Grand Est" title="Grand Est" href="/recherche/GrandEst" coords="346,97,464,161" shape="rect">
                <area target="" alt="HautsdeFrance" title="HautsdeFrance" href="/recherche/HautsdeFrance" coords="256,30,331,103" shape="0">
                <area target="" alt="Normandie" title="Normandie" href="/recherche/Normandie" coords="140,81,235,129" shape="0">
                <area target="" alt="IledeFrance" title="IledeFrance" href="/recherche/IledeFrance" coords="258,113,322,152" shape="0">
                <area target="" alt="Bretagne" title="Bretagne" href="/recherche/Bretagne" coords="51,131,132,187" shape="0">
                <area target="" alt="PaysdelaLoire" title="PaysdelaLoire" href="/recherche/PaysdelaLoire" coords="138,176,187,222" shape="0">
                <area target="" alt="CentreValdeLoire" title="CentreValdeLoire" href="/recherche/CentreValdeLoire" coords="223,162,300,239" shape="0">
                <area target="" alt="BourgogneFrancheComté" title="BourgogneFrancheComté" href="/recherche/BourgogneFrancheComté" coords="311,178,421,250" shape="0">
                <area target="" alt="NouvelleAquitaine" title="NouvelleAquitaine" href="/recherche/NouvelleAquitaine" coords="146,275,256,335" shape="0">
                <area target="" alt="AuvergneRhôneAlpes" title="AuvergneRhôneAlpes" href="/recherche/AuvergneRhôneAlpes" coords="292,273,432,334" shape="0">
                <area target="" alt="Occitanie" title="Occitanie" href="/recherche/Occitanie" coords="208,370,322,467" shape="0">
                <area target="" alt="ProvenceAlpesCôtesdAzur" title="ProvenceAlpesCôtesdAzur" href="/recherche/ProvenceAlpesCôtesdAzur" coords="377,370,463,410" shape="0">
                <area target="" alt="Corse" title="Corse" href="/recherche/Corse" coords="476,414,516,486" shape="0">
            </map>
        </div>
    </div>
{%endblock%}