{% extends navbar+".html" %}
{% block body %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='recherche.css')}}">

    <h1>Recherche</h1>

    <div class="page">
        <span>Veuillez renseignez votre code postal ou votre département</span>
        <div class="form block">
            <form action="/recherche" method="post">
                <input autocomplete="off" autofocus name="Code Postal" placeholder="Code Postal" type="text">
                <input type="submit" value="Valider">
            </form>

            <form action="/recherche" method="post">
                <select name="Départements">
                    <option disabled selected value="">Département</option>
                    {% for departement in departements %}
                        <option value="{{ departements[departement] }}">{{ departements[departement] }}</option>
                    {% endfor %}
                <input type="submit" value="Valider">
            </form>
            <div class="error message">
                <p class='message'>{{message}}</p>
            </div>
        </div>
        
        <div class="carte block">
            <span>Vous pouvez également choisir une région</span>
            <img src="/static/images/carte_region_scrop2.jpg" alt="carte des régions" usemap="#c">
            <map name="c">
                <area target="" alt="Hauts-de-France" title="Hauts-de-France" href="" coords="257,39,331,97" shape="rect">
                <area target="" alt="Normandie " title="Normandie " href="" coords="140,71,244,127" shape="rect">
                <area target="" alt="Ile-de-France" title="Ile-de-France" href="" coords="257,123,316,145" shape="rect">
                <area target="" alt="Grand Est" title="Grand Est" href="" coords="342,87,468,167" shape="rect">
                <area target="" alt="Bretagne" title="Bretagne" href="" coords="30,132,136,170" shape="rect">
                <area target="" alt="Pays de la Loire" title="Pays de la Loire" href="" coords="113,186,194,211" shape="rect">
                <area target="" alt="Centre-Val de Loire" title="Centre-Val de Loire" href="" coords="228,167,298,234" shape="rect">
                <area target="" alt="Bourgogne-Franche-Comté" title="Bourgogne-Franche-Comté" href="" coords="315,179,426,257" shape="rect">
                <area target="" alt="Nouvelle-Aquitaine" title="Nouvelle-Aquitaine" href="" coords="149,262,271,328" shape="rect">
                <area target="" alt="Auvergne-Rhône-Alpes" title="Auvergne-Rhône-Alpes" href="" coords="429,332,297,275" shape="rect">
                <area target="" alt="Occitanie" title="Occitanie" href="" coords="200,381,347,444" shape="rect">
                <area target="" alt="Provence-Alpes-Côte d'Azur" title="Provence-Alpes-Côte d'Azur" href="" coords="377,375,468,414" shape="rect">
                <area target="" alt="Corse" title="Corse" href="" coords="480,414,514,488" shape="rect">
            </map>
        </div>
    </div>
{%endblock%}