{% extends navbar+".html" %}
{% block body %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='profil.css')}}">

    <h1>RechercheCP</h1>
    <div class="propositions">
        {%for proposition in propositions%}
            <div class="proposition">
                <p class="pseudo">{{proposition.pseudo}}</p>
                <p class="description">{{proposition.description}}</p>
                <img class="photo_prop" src='/static'+{{proposition.propositionphoto}}>
            </div>
        {%endfor%}
    </div>
    <p class='message'>{{dep}}</p>
    
{%endblock%}